<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bagito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Permissions and features from AndroidQRCodeScanner's .xml-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:label="Bagito"
        android:icon="@drawable/app_logo_not_round"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Account.AccountActivity" />
        <activity android:name=".Account.ChangeApi" />
        <activity android:name=".Account.ChangeInfo" />
        <activity android:name=".forgot.ResetPasswordActivity" />
        <activity android:name=".forgot.CodeActivity" />
        <activity android:name=".forgot.EmailActivity" />
        <activity android:name=".RentActivity"/>
        <activity android:name=".ReturnActivity"/>
        <activity
            android:name=".register.RegisterActivity"
            android:parentActivityName=".login.LoginActivity"
            android:theme="@style/AppTheme_NoAction" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme_NoAction" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>